<h1>Editing card</h1>

<%= render "form", card: @card %>

<br>

<div class ="center">
  <div class ="button">
    <%= link_to "Show this card", @card %> 
  </div>
  <div class ="button">
    <%= link_to "Back to cards", cards_path %> </a>
  </div>
</div>
