header{
    position: fixed;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 50px;
    
}
.logo{
    
    width: auto;
    height: auto;
    

    

    
}

header .link {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    
}
.link {
    display: flex;
    justify-content: center;
    
    
    
}
a{
    text-decoration: none;
    color: black;
}

.padding{
    padding:7vh;
}

a{
    width: auto;
    white-space: nowrap;
    
}