<div class="container">
    <div class="input-wrapper">
        <input type="text" name="pokemon-name" placeholder="Search for a pokemon...">
    </div>

    <div class="cards-container">
        <a class="card">
            <div class="side front"
                style="background-image:url('//assets.pokemon.com/assets/cms2/img/cards/web/BW7/BW7_EN_31.png')"></div>
            <div class="side back"></div>
            <div class="glow"></div>
        </a>
    </div>
</div>


<script>
const refreshCards = function() {
    document.querySelector('.cards-container').innerHTML = '';
    document.querySelector('.input-wrapper').classList.add('loading');

    const searchString = document.querySelector('input[name="pokemon-name"]').value;
    fetch(`https://api.pokemontcg.io/v1/cards?name=${encodeURI(searchString)}`)
        .then(response => response.json())
        .then(result => {
            document.querySelector('.input-wrapper').classList.remove('loading');

            result.cards.forEach((card, i) => {
                const cardElement = document.createElement('a');
                cardElement.classList.add('card', 'flipped');
                cardElement.innerHTML = `
                    <div class="side front" style="background-image:url('${card.imageUrl}')"></div>
                    <div class="side back"></div>
                `;
                document.querySelector('.cards-container').appendChild(cardElement);

                setTimeout(function() {
                    cardElement.classList.remove('flipped');
                }, 100 * i);
            });
        });
};

let refreshTimeout;
document.querySelector('input[name="pokemon-name"]').addEventListener('keydown', function() {
    clearTimeout(refreshTimeout);
    refreshTimeout = setTimeout(refreshCards, 500);
});

// ! anime card
const card = document.querySelectorAll(".card")

function handleMouseMove(e) {
    const el = this
    const elRect = el.getBoundingClientRect()
    const x = e.clientX - elRect.x
    const y = e.clientY - elRect.y
    const midCardWidth = elRect.width / 2
    const midCardHeight = elRect.height / 2
    const angleX = ((-(y - midCardHeight)) * 100 / midCardHeight) * 0.28
    const angleY = ((x - midCardWidth) * 100 / midCardWidth) * 0.2
    let glowX = x / elRect.width * 100
    let glowY = y / elRect.height * 100
    el.children[0].style.transform = `rotateX(${angleX}deg) rotateY(${angleY}deg) scale(1.1)`
    el.children[1].style.transform = `rotateX(${angleX}deg) rotateY(${angleY}deg) scale(1.1)`
    el.children[1].style.background = `radial-gradient(circle at ${glowX}% ${glowY}%, white, transparent)`
    this.children[1].style.opacity = "0.3"
}

function resetCardTransform() {
    this.children[0].style.transform = "rotateX(0) rotateY(0)"
    this.children[1].style.transform = "rotateX(0) rotateY(0)"
    this.children[1].style.opacity = "0"
}

card.forEach( el => {
    el.addEventListener("mousemove", handleMouseMove)
    el.addEventListener("mouseleave", resetCardTransform)
})
</script>