<!DOCTYPE html>
<html>
  <head>
    <title>PokeRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <header>
   <%= link_to "reach", reach_path %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
