<div class="container">
    <div class="input-wrapper">
        <input type="text" name="pokemon-name" placeholder="Search for a pokemon...">
    </div>

    <div class="cards-container">
        <a class="card">
            <div class="side front"
                style="background-image:url('//assets.pokemon.com/assets/cms2/img/cards/web/BW7/BW7_EN_31.png')"></div>
            <div class="side back"></div>
            <div class="glow"></div>
        </a>
    </div>
</div>
<style>
    * {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: arial;
}

.card {
  position: relative;
  display: inline-block;
  width: 150px;
  height: calc(1.4 * 150px);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  margin: 10px 5px;
  transition: transform 0.3s ease-out;
  transform: rotateY(0deg);
}
.card.flipped {
  animation-name: none;
  transform: rotateY(180deg);
}
.card .side {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card .front {
  background-color: rgb(23, 49, 106);
  transition: width 0.2s ease-out, height 0.2s ease-out, top 0.2s ease-out, left 0.2s ease-out;
}
.card .back {
  transform: rotateY(180deg);
  background-image: url("https://poketaz.weebly.com/uploads/4/9/7/8/4978776/6169581_orig.jpg");
  background-size: 102% 102%;
}

.container {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  text-align: center;
}

.cards-container {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: top;
  padding: 30px 100px;
}

body {
  perspective: 10px;
  height: 100vh;
  overflow: auto;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.input-wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 50px auto;
}
.input-wrapper input {
  display: inline-block;
  border: none;
  border-bottom: 3px solid #888;
  background-color: transparent;
  font-size: 32px;
  padding: 10px;
}
.input-wrapper input:focus {
  outline: none;
}
.input-wrapper::after {
  content: "";
  display: block;
  background: url("http://pre04.deviantart.net/d8c4/th/pre/i/2016/158/e/0/flat_pokeball_by_himitsunochikara-d6v7eyk.png") center/125% no-repeat;
  position: absolute;
  right: 0px;
  bottom: 16.5%;
  height: 66%;
  width: 40px;
  animation: spinner 0.8s ease-in-out infinite;
  border-radius: 50%;
  box-shadow: 0px 0px 3px grey;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.input-wrapper.loading::after {
  opacity: 1;
}

@keyframes rotate {
  0% {
    transform: rotateY(-70deg);
  }
  90% {
    transform: rotateY(70deg);
  }
  100% {
    transform: rotateY(290deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}/*# sourceMappingURL=style.css.map */
</style>
<script>
const refreshCards = function() {
    document.querySelector('.cards-container').innerHTML = '';
    document.querySelector('.input-wrapper').classList.add('loading');

    const searchString = document.querySelector('input[name="pokemon-name"]').value;
    fetch(`https://api.pokemontcg.io/v1/cards?name=${encodeURI(searchString)}`)
        .then(response => response.json())
        .then(result => {
            document.querySelector('.input-wrapper').classList.remove('loading');

            result.cards.forEach((card, i) => {
                const cardElement = document.createElement('a');
                cardElement.classList.add('card', 'flipped');
                cardElement.innerHTML = `
                    <div class="side front" style="background-image:url('${card.imageUrl}')"></div>
                    <div class="side back"></div>
                `;
                document.querySelector('.cards-container').appendChild(cardElement);

                setTimeout(function() {
                    cardElement.classList.remove('flipped');
                }, 100 * i);
            });
        });
};

let refreshTimeout;
document.querySelector('input[name="pokemon-name"]').addEventListener('keydown', function() {
    clearTimeout(refreshTimeout);
    refreshTimeout = setTimeout(refreshCards, 500);
});

// ! anime card
const card = document.querySelectorAll(".card")

function handleMouseMove(e) {
    const el = this
    const elRect = el.getBoundingClientRect()
    const x = e.clientX - elRect.x
    const y = e.clientY - elRect.y
    const midCardWidth = elRect.width / 2
    const midCardHeight = elRect.height / 2
    const angleX = ((-(y - midCardHeight)) * 100 / midCardHeight) * 0.28
    const angleY = ((x - midCardWidth) * 100 / midCardWidth) * 0.2
    let glowX = x / elRect.width * 100
    let glowY = y / elRect.height * 100
    el.children[0].style.transform = `rotateX(${angleX}deg) rotateY(${angleY}deg) scale(1.1)`
    el.children[1].style.transform = `rotateX(${angleX}deg) rotateY(${angleY}deg) scale(1.1)`
    el.children[1].style.background = `radial-gradient(circle at ${glowX}% ${glowY}%, white, transparent)`
    this.children[1].style.opacity = "0.3"
}

function resetCardTransform() {
    this.children[0].style.transform = "rotateX(0) rotateY(0)"
    this.children[1].style.transform = "rotateX(0) rotateY(0)"
    this.children[1].style.opacity = "0"
}

card.forEach( el => {
    el.addEventListener("mousemove", handleMouseMove)
    el.addEventListener("mouseleave", resetCardTransform)
})
</script>